*{
  box-sizing: border-box;
  font-family: Comfortaa, sans-serif;
}
.Centered{
  display:flex;
  justify-content: center;
  align-items: center;
}
.Form{
  width:auto;
  border-radius: 20px;
  background-color: white;
}
body{
  margin:0;
  padding:0;
}
h1{
  font-size: 4rem;
  color:black;
}
.Page{
  position:absolute;
  width:100%;
  height:auto;
  min-height: 100%;
  top: 0;
  left: 0;
  background: rgba(57, 113, 198, 1.0);
  background: -webkit-linear-gradient(top left, rgba(57, 113, 198, 1.0), rgba(192, 198, 215, 1.0));
  background: -moz-linear-gradient(top left, rgba(57, 113, 198, 1.0), rgba(192, 198, 215, 1.0));
  background: linear-gradient(to bottom right, rgba(57, 113, 198, 1.0), rgba(192, 198, 215, 1.0));
}
.Title,.input-button{
  display:flex;
  justify-content: center;
  align-items: center;
}
.todo-input{
  padding:1rem;
}
.todo-input::placeholder{
  color:black;
}
select,button{
  border:none;
  cursor: pointer;
}
input{
  font-size: 2rem;
  border: none;
  background: white;
}
button{
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 2rem;
  border: none;
  background: white;
  color:rgba(57, 113, 198, .75);
  height:3rem;
  border: 1px solid white;
  transition: 0.2s;
}
input:focus, button:focus,select:focus{
  outline:none;
}
button:hover{
  background:#A1B5D8;
  color:white;
  border: 1px solid #A1B5D8;
  z-index: 1;
  transition: 0.2s;
}
.todo-input{
  height:3rem;
  width:auto;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 1rem;
}
.todo-button{
  height:3rem;
  width:3rem;
}
.filter-todo{
  font-size: 1rem;
  height:3rem;
  border-radius: 20px;
  text-align: center;
}
.filter-todo:hover{
  color:white;
  background:#A1B5D8;
}
.todo-container{
  display:flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.todo-list{
  list-style: none;
}
.todo{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin:1.5rem;
  text-align:justify;
}
.todo-item{
  min-height: 3rem;
  padding: 0.5rem;
  border-radius: 20px;
  height:auto;
  background: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-container{
  display:grid;
  grid-template-columns: auto auto;
  overflow: auto;
}
.complete-btn{
  padding:1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.trash-btn{
  padding:1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.right-side{
  display: flex;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}