*, *::before, *::after{
    box-sizing: border-box;
    font-family: Comfortaa,sans-serif;
}
html,body{
    margin:0;
    padding:0;
}
.Page{
    position:absolute;
    width:100%;
    height:100%;
    top: 0;
    left: 0;
    background: linear-gradient(#C33764,#1D2671);
}
.Title,.input-button{
    display:flex;
    justify-content: center;
    align-items: center;
}
.todo-input{
    margin:1rem;
    height:3rem;

    min-width: 10rem;
    border-radius: 15px;
}